@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
body{
  background-color: #766fb3;
}
#agBtn {
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #d91c71 2px;
  background: -moz-linear-gradient(top, #fc3f94, #fc0574);
  transition: transform 0.3s ease-in-out;
}
#agBtn:hover{
  transform: scale(1.02, 1.05);
}
.n-p {
  text-align: center;
}
.navbar{
  height: 120px !important; 
}
.titulo{
  font-size: 35px !important;
}
.nav-link{
  font-size: 20px !important;
}
.btn{
  margin-right: 20px;
}
#h1{
  width: 500px;
  margin: 0 auto;
}
#prod{
  position: relative;
  text-align: center;
  margin-top: 30px;
  font-family: 'Rubik Marker Hatch', cursive;
}
#prod::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
#prod:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#prod::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(196, 195, 193);
  z-index: -1;
  transition: transform 0.3s ease;
}
.mg{
  margin-bottom: 30px;
}
